@import '../../styles/all';

.button {
  background: transparent;
  border-style: none;
  border: 1px solid $c-blue-500;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  transition: ease 300ms background-color, ease 300ms border-color, ease 300ms color;

  &:hover {
    background: $c-blue-500;
    color: $c-light-text;
  }

  &Active {
    background: $c-blue-500;
    color: $c-light-text;

    &:hover {
      background: $c-light-text;
      color: $c-blue-500;
    }
  }
}
