$width-desktop: 940px;

$break-point-l: 768px;
$break-point-xl: 998px;

$radius-s: 4px;
$radius-m: 8px;
$radius-l: 12px;
$radius-round: 50%;

$shadow-s: 0 2px 8px 0 rgba(0, 0, 0, 0.17);
$shadow-l: 0 1px 3px 1px rgb(213, 216, 226), 0 4px 8px 1px rgb(213, 216, 226);

$ease: cubic-bezier(0.075, 0.82, 0.165, 1);
